params {
  wgetCommand = "wget"
  unpackMethod = ""
  markerToTaxonPath = ""
  bowtie2Command = "bowtie2 --omit-sec-seq --no-discordant --no-unal -k10"
  alignmentStatsCommand = "samtools stats"
  summarizeAlignmentsCommand = "marker_alignments --min-read-query-length 60 --min-taxon-num-markers 2 --min-taxon-num-reads 2 --min-taxon-better-marker-cluster-averages-ratio 1.01 --threshold-avg-match-identity-to-call-known-taxon 0.97  --threshold-num-taxa-to-call-unknown-taxon 1 --threshold-num-markers-to-call-unknown-taxon 4     --threshold-num-reads-to-call-unknown-taxon 8"
  summaryFormat = "matrix"
  summaryColumn = "cpm"
}
