params {
  wgetCommand = "wget"
  unpackMethod = ""
  markerToTaxonPath = ""
  bowtie2Command = "bowtie2 --omit-sec-seq --no-discordant --no-unal"
  alignmentStatsCommand = "samtools stats"
  summarizeAlignmentsCommand = "marker_alignments --min-read-mapq 30 --min-read-query-length 60 --min-read-match-identity 0.9 --min-taxon-num-markers 2"
}
